<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />  
		<link rel="stylesheet" type="text/css" href="css/contact.css" />
		<title>Contact Us</title>
	</head>
	<style>
		
	</style>
	<body>
		<div class="header">
			<img src="images/head.jpg"/>
			<div class="detial">
				<p class="title">Contact Us</p>
				<p class="question">GOT A QUESTION?</p>
				<div class="show_detial">
					Our fantastic <span style="color: #5190FB;">Help Center</span> is ready to help you for all<br />
					your Blueprint lives Here <br />
					product  and technical needs!  
				</div>
			</div>
		</div>
		
		
		
		<div class="address">
			<div class="lefy_in">
				<div class="username usee">
					<p style="font-weight: bold;">Full Name</p>
					<input type="text" class="user_name" />
				</div>
				<div class="user_address usee">
					<p style="font-weight: bold;">Email Address</p>
					<input type="text" class="address_in" />
				</div>
				<div class="messages usee">
					<p style="font-weight: bold;">Message</p>
					<input type="text" class="user_messages" />
				</div>
				<div class="tijiao">
					<div class="input_tijiao">Submit</div>
				</div>
			</div>
			<div class="right_pic">
				<div class="imp_map"><img src="images/map.png" /></div>
				<div class="detial_map"><span style="font-weight: bold;">CORPORATE OFFICE：</span><br />
					5588 Henry Tower<br />
					Halifax, NS, CA <br />
					For support or any qquestions<br />
					Email us at <span style="color:#5190FB ;">blueprintliveshere@blue.com </span>
					</div>
			</div>
		</div>
		
		<div class="bottom">
				<div class="left_logo"><img src="images/phone.png"/></div>
				<div class="right_detial">Canada and US 1-800-xxx-xxx  |   UK and Europe  1-800-xxx-xxx   |     China and  Asia     1-989-xxx-xxxx</div>
		</div>
	</body>
</html>
