<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/downloadApp.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

</head>
<body>
    
        <div class="ui container">
            <div class="ui grid">

                <!-- left side of the download page with two buttons and text-->
                <div class="left floated eight wide column">
                    <p id="downloadApp">
                        Download the app 
                     </p>
                    
                     <p id="rightNow">
                         right now
                     </p>
 
                     <p id="joinBlueprint">
                         Join Blueprint today and start using
                     </p>
 
                     <p id="blueprintCard">
                         the Blueprint card
                     </p>
 
                     <div class="ui primary button" id="downloadForAndroidButton">
                         <p id="downloadAndroidText">
                             Download for Android
                         </p>
                         
                     </div>
                     <div class="ui primary button" id="downloadForIOSButton">
                        <p id="downloadIOSText">
                            Download for iOS
                        </p>
                        
                    </div>
                    
                </div>

                <!-- right side of the download page with phone image-->
                <div class="right floated eight wide column">
                     <img src="../../images/download1.jpg" alt="applyNow" width="700" height="800">          
                </div>
                 
                    
            </div> 
                

        </div>

    
</body>
</html> 